@import url("../vars/cores.css");
/* op 1 */
.bg-alp{background-color: var(--bg-alp);}
.bg-aqw{background-color: var(--bg-aqw);}
.bg-aqm{background-color: var(--bg-aqm);}
.bg-azr{background-color: var(--bg-azr);}
.bg-bege{background-color: var(--bg-bege);}
.bg-bsq{background-color: var(--bg-bsq);}
.bg-blc{background-color: var(--bg-blc);}
.bg-bal{background-color: var(--bg-bal);}
.bg-azu{background-color: var(--bg-azu);}
.bg-bvt{background-color: var(--bg-bvt);}
.bg-brw{background-color: var(--bg-brw);}
.bg-bly{background-color: var(--bg-bly);}
.bg-cbl{background-color: var(--bg-cbl);}
.bg-cht{background-color: var(--bg-cht);}
.bg-cho{background-color: var(--bg-cho);}
.bg-crl{background-color: var(--bg-crl);}
.bg-cfb{background-color: var(--bg-cfb);}
.bg-cyn{background-color: var(--bg-cyn);}
.bg-dkc{background-color: var(--bg-dkc);}
.bg-dgn{background-color: var(--bg-dgn);}
.bg-gry{background-color: var(--bg-gry);}
.bg-grn{background-color: var(--bg-grn);}
.bg-gld{background-color: var(--bg-gld);}
.bg-dkg{background-color: var(--bg-dkg);}
.bg-grg{background-color: var(--bg-grg);}
.bg-ivry{background-color: var(--bg-ivry);}
.bg-khk{background-color: var(--bg-khk);}
.bg-lav{background-color: var(--bg-lav);}
.bg-lvs{background-color: var(--bg-lvs);}
.bg-lme{background-color: var(--bg-lme);}
.bg-lwg{background-color: var(--bg-lwg);}
.bg-lbn{background-color: var(--bg-lbn);}
.bg-lvp{background-color: var(--bg-lvp);}
.bg-mgn{background-color: var(--bg-mgn);}
.bg-mro{background-color: var(--bg-mro);}
.bg-mdv{background-color: var(--bg-mdv);}
.bg-nvy{background-color: var(--bg-nvy);}
.bg-olv{background-color: var(--bg-olv);}
.bg-org{background-color: var(--bg-org);}
.bg-orn{background-color: var(--bg-orn);}
.bg-plm{background-color: var(--bg-plm);}
.bg-pdm{background-color: var(--bg-pdm);}
.bg-pkn{background-color: var(--bg-pkn);}
.bg-pnk{background-color: var(--bg-pnk);}
.bg-plp{background-color: var(--bg-plp);}
.bg-rd{background-color: var(--bg-rd);}
.bg-ros{background-color: var(--bg-ros);}
.bg-rpl{background-color: var(--bg-rpl);}
.bg-red{background-color: var(--bg-red);}
.bg-rbr{background-color: var(--bg-rbr);}
.bg-slm{background-color: var(--bg-slm);}
.bg-sil{background-color: var(--bg-sil);}
.bg-sky{background-color: var(--bg-sky);}
.bg-sno{background-color: var(--bg-sno);}
.bg-spr{background-color: var(--bg-spr);}
.bg-tan{background-color: var(--bg-tan);}
.bg-teal{background-color: var(--bg-teal);}
.bg-tom{background-color: var(--bg-tom);}
.bg-tur{background-color: var(--bg-tur);}
.bg-vlt{background-color: var(--bg-vlt);}
.bg-wht{background-color: var(--bg-wht);}
.bg-ylw{background-color: var(--bg-ylw);}

/* op 75 */
.bg-alp-75{background-color: var(--bg-alp-75);}
.bg-aqw-75{background-color: var(--bg-aqw-75);}  
.bg-aqm-75{background-color: var(--bg-aqm-75);}  
.bg-azr-75{background-color: var(--bg-azr-75);}  
.bg-bege-75{background-color: var(--bg-bege-75);}
.bg-bsq-75{background-color: var(--bg-bsq-75);}  
.bg-blc-75{background-color: var(--bg-blc-75);}  
.bg-bal-75{background-color: var(--bg-bal-75);}  
.bg-azu-75{background-color: var(--bg-azu-75);}  
.bg-bvt-75{background-color: var(--bg-bvt-75);}  
.bg-brw-75{background-color: var(--bg-brw-75);}  
.bg-bly-75{background-color: var(--bg-bly-75);}  
.bg-cbl-75{background-color: var(--bg-cbl-75);}  
.bg-cht-75{background-color: var(--bg-cht-75);}  
.bg-cho-75{background-color: var(--bg-cho-75);}  
.bg-crl-75{background-color: var(--bg-crl-75);}
.bg-cfb-75{background-color: var(--bg-cfb-75);}
.bg-cyn-75{background-color: var(--bg-cyn-75);}
.bg-dkc-75{background-color: var(--bg-dkc-75);}
.bg-dgn-75{background-color: var(--bg-dgn-75);}
.bg-gry-75{background-color: var(--bg-gry-75);}
.bg-grn-75{background-color: var(--bg-grn-75);}
.bg-gld-75{background-color: var(--bg-gld-75);}
.bg-dkg-75{background-color: var(--bg-dkg-75);}
.bg-grg-75{background-color: var(--bg-grg-75);}
.bg-ivry-75{background-color: var(--bg-ivry-75);}
.bg-khk-75{background-color: var(--bg-khk-75);}
.bg-lav-75{background-color: var(--bg-lav-75);}
.bg-lvs-75{background-color: var(--bg-lvs-75);}
.bg-lme-75{background-color: var(--bg-lme-75);}
.bg-lwg-75{background-color: var(--bg-lwg-75);}
.bg-lbn-75{background-color: var(--bg-lbn-75);}
.bg-lvp-75{background-color: var(--bg-lvp-75);}
.bg-mgn-75{background-color: var(--bg-mgn-75);}
.bg-mro-75{background-color: var(--bg-mro-75);}
.bg-mdv-75{background-color: var(--bg-mdv-75);}
.bg-nvy-75{background-color: var(--bg-nvy-75);}
.bg-olv-75{background-color: var(--bg-olv-75);}
.bg-org-75{background-color: var(--bg-org-75);}
.bg-orn-75{background-color: var(--bg-orn-75);}
.bg-plm-75{background-color: var(--bg-plm-75);}
.bg-pdm-75{background-color: var(--bg-pdm-75);}
.bg-pkn-75{background-color: var(--bg-pkn-75);}
.bg-pnk-75{background-color: var(--bg-pnk-75);}
.bg-plp-75{background-color: var(--bg-plp-75);}
.bg-rd-75{background-color: var(--bg-rd-75);}
.bg-ros-75{background-color: var(--bg-ros-75);}
.bg-rpl-75{background-color: var(--bg-rpl-75);}
.bg-red-75{background-color: var(--bg-red-75);}
.bg-rbr-75{background-color: var(--bg-rbr-75);}
.bg-slm-75{background-color: var(--bg-slm-75);}
.bg-sil-75{background-color: var(--bg-sil-75);}
.bg-sky-75{background-color: var(--bg-sky-75);}
.bg-sno-75{background-color: var(--bg-sno-75);}
.bg-spr-75{background-color: var(--bg-spr-75);}
.bg-tan-75{background-color: var(--bg-tan-75);}
.bg-teal-75{background-color: var(--bg-teal-75);}
.bg-tom-75{background-color: var(--bg-tom-75);}
.bg-tur-75{background-color: var(--bg-tur-75);}
.bg-vlt-75{background-color: var(--bg-vlt-75);}
.bg-wht-75{background-color: var(--bg-wht-75);}
.bg-ylw-75{background-color: var(--bg-ylw-75);}

/* op 50 */
.bg-alp-50{background-color: var(--bg-alp-50);}
.bg-aqw-50{background-color: var(--bg-aqw-50);}  
.bg-aqm-50{background-color: var(--bg-aqm-50);}  
.bg-azr-50{background-color: var(--bg-azr-50);}  
.bg-bege-50{background-color: var(--bg-bege-50);}
.bg-bsq-50{background-color: var(--bg-bsq-50);}  
.bg-blc-50{background-color: var(--bg-blc-50);}  
.bg-bal-50{background-color: var(--bg-bal-50);}  
.bg-azu-50{background-color: var(--bg-azu-50);}  
.bg-bvt-50{background-color: var(--bg-bvt-50);}  
.bg-brw-50{background-color: var(--bg-brw-50);}  
.bg-bly-50{background-color: var(--bg-bly-50);}  
.bg-cbl-50{background-color: var(--bg-cbl-50);}  
.bg-cht-50{background-color: var(--bg-cht-50);}  
.bg-cho-50{background-color: var(--bg-cho-50);}  
.bg-crl-50{background-color: var(--bg-crl-50);}
.bg-cfb-50{background-color: var(--bg-cfb-50);}
.bg-cyn-50{background-color: var(--bg-cyn-50);}
.bg-dkc-50{background-color: var(--bg-dkc-50);}
.bg-dgn-50{background-color: var(--bg-dgn-50);}
.bg-gry-50{background-color: var(--bg-gry-50);}
.bg-grn-50{background-color: var(--bg-grn-50);}
.bg-gld-50{background-color: var(--bg-gld-50);}
.bg-dkg-50{background-color: var(--bg-dkg-50);}
.bg-grg-50{background-color: var(--bg-grg-50);}
.bg-ivry-50{background-color: var(--bg-ivry-50);}
.bg-khk-50{background-color: var(--bg-khk-50);}
.bg-lav-50{background-color: var(--bg-lav-50);}
.bg-lvs-50{background-color: var(--bg-lvs-50);}
.bg-lme-50{background-color: var(--bg-lme-50);}
.bg-lwg-50{background-color: var(--bg-lwg-50);}
.bg-lbn-50{background-color: var(--bg-lbn-50);}
.bg-lvp-50{background-color: var(--bg-lvp-50);}
.bg-mgn-50{background-color: var(--bg-mgn-50);}
.bg-mro-50{background-color: var(--bg-mro-50);}
.bg-mdv-50{background-color: var(--bg-mdv-50);}
.bg-nvy-50{background-color: var(--bg-nvy-50);}
.bg-olv-50{background-color: var(--bg-olv-50);}
.bg-org-50{background-color: var(--bg-org-50);}
.bg-orn-50{background-color: var(--bg-orn-50);}
.bg-plm-50{background-color: var(--bg-plm-50);}
.bg-pdm-50{background-color: var(--bg-pdm-50);}
.bg-pkn-50{background-color: var(--bg-pkn-50);}
.bg-pnk-50{background-color: var(--bg-pnk-50);}
.bg-plp-50{background-color: var(--bg-plp-50);}
.bg-rd-50{background-color: var(--bg-rd-50);}
.bg-ros-50{background-color: var(--bg-ros-50);}
.bg-rpl-50{background-color: var(--bg-rpl-50);}
.bg-red-50{background-color: var(--bg-red-50);}
.bg-rbr-50{background-color: var(--bg-rbr-50);}
.bg-slm-50{background-color: var(--bg-slm-50);}
.bg-sil-50{background-color: var(--bg-sil-50);}
.bg-sky-50{background-color: var(--bg-sky-50);}
.bg-sno-50{background-color: var(--bg-sno-50);}
.bg-spr-50{background-color: var(--bg-spr-50);}
.bg-tan-50{background-color: var(--bg-tan-50);}
.bg-teal-50{background-color: var(--bg-teal-50);}
.bg-tom-50{background-color: var(--bg-tom-50);}
.bg-tur-50{background-color: var(--bg-tur-50);}
.bg-vlt-50{background-color: var(--bg-vlt-50);}
.bg-wht-50{background-color: var(--bg-wht-50);}
.bg-ylw-50{background-color: var(--bg-ylw-50);}

/* op 25 */
.bg-alp-25{background-color: var(--bg-alp-25);}
.bg-aqw-25{background-color: var(--bg-aqw-25);}  
.bg-aqm-25{background-color: var(--bg-aqm-25);}  
.bg-azr-25{background-color: var(--bg-azr-25);}  
.bg-bege-25{background-color: var(--bg-bege-25);}
.bg-bsq-25{background-color: var(--bg-bsq-25);}  
.bg-blc-25{background-color: var(--bg-blc-25);}  
.bg-bal-25{background-color: var(--bg-bal-25);}  
.bg-azu-25{background-color: var(--bg-azu-25);}  
.bg-bvt-25{background-color: var(--bg-bvt-25);}  
.bg-brw-25{background-color: var(--bg-brw-25);}  
.bg-bly-25{background-color: var(--bg-bly-25);}  
.bg-cbl-25{background-color: var(--bg-cbl-25);}  
.bg-cht-25{background-color: var(--bg-cht-25);}  
.bg-cho-25{background-color: var(--bg-cho-25);}  
.bg-crl-25{background-color: var(--bg-crl-25);}
.bg-cfb-25{background-color: var(--bg-cfb-25);}
.bg-cyn-25{background-color: var(--bg-cyn-25);}
.bg-dkc-25{background-color: var(--bg-dkc-25);}
.bg-dgn-25{background-color: var(--bg-dgn-25);}
.bg-gry-25{background-color: var(--bg-gry-25);}
.bg-grn-25{background-color: var(--bg-grn-25);}
.bg-gld-25{background-color: var(--bg-gld-25);}
.bg-dkg-25{background-color: var(--bg-dkg-25);}
.bg-grg-25{background-color: var(--bg-grg-25);}
.bg-ivry-25{background-color: var(--bg-ivry-25);}
.bg-khk-25{background-color: var(--bg-khk-25);}
.bg-lav-25{background-color: var(--bg-lav-25);}
.bg-lvs-25{background-color: var(--bg-lvs-25);}
.bg-lme-25{background-color: var(--bg-lme-25);}
.bg-lwg-25{background-color: var(--bg-lwg-25);}
.bg-lbn-25{background-color: var(--bg-lbn-25);}
.bg-lvp-25{background-color: var(--bg-lvp-25);}
.bg-mgn-25{background-color: var(--bg-mgn-25);}
.bg-mro-25{background-color: var(--bg-mro-25);}
.bg-mdv-25{background-color: var(--bg-mdv-25);}
.bg-nvy-25{background-color: var(--bg-nvy-25);}
.bg-olv-25{background-color: var(--bg-olv-25);}
.bg-org-25{background-color: var(--bg-org-25);}
.bg-orn-25{background-color: var(--bg-orn-25);}
.bg-plm-25{background-color: var(--bg-plm-25);}
.bg-pdm-25{background-color: var(--bg-pdm-25);}
.bg-pkn-25{background-color: var(--bg-pkn-25);}
.bg-pnk-25{background-color: var(--bg-pnk-25);}
.bg-plp-25{background-color: var(--bg-plp-25);}
.bg-rd-25{background-color: var(--bg-rd-25);}
.bg-ros-25{background-color: var(--bg-ros-25);}
.bg-rpl-25{background-color: var(--bg-rpl-25);}
.bg-red-25{background-color: var(--bg-red-25);}
.bg-rbr-25{background-color: var(--bg-rbr-25);}
.bg-slm-25{background-color: var(--bg-slm-25);}
.bg-sil-25{background-color: var(--bg-sil-25);}
.bg-sky-25{background-color: var(--bg-sky-25);}
.bg-sno-25{background-color: var(--bg-sno-25);}
.bg-spr-25{background-color: var(--bg-spr-25);}
.bg-tan-25{background-color: var(--bg-tan-25);}
.bg-teal-25{background-color: var(--bg-teal-25);}
.bg-tom-25{background-color: var(--bg-tom-25);}
.bg-tur-25{background-color: var(--bg-tur-25);}
.bg-vlt-25{background-color: var(--bg-vlt-25);}
.bg-wht-25{background-color: var(--bg-wht-25);}
.bg-ylw-25{background-color: var(--bg-ylw-25);}

/* op 1 */
.c-alp{color: var(--c-alp);}
.c-aqw{color: var(--c-aqw);}
.c-aqm{color: var(--c-aqm);}
.c-azr{color: var(--c-azr);}
.c-bege{color: var(--c-bege);}
.c-bsq{color: var(--c-bsq);}
.c-blc{color: var(--c-blc);}
.c-bal{color: var(--c-bal);}
.c-azu{color: var(--c-azu);}
.c-bvt{color: var(--c-bvt);}
.c-brw{color: var(--c-brw);}
.c-bly{color: var(--c-bly);}
.c-cbl{color: var(--c-cbl);}
.c-cht{color: var(--c-cht);}
.c-cho{color: var(--c-cho);}
.c-crl{color: var(--c-crl);}
.c-cfb{color: var(--c-cfb);}
.c-cyn{color: var(--c-cyn);}
.c-dkc{color: var(--c-dkc);}
.c-dgn{color: var(--c-dgn);}
.c-gry{color: var(--c-gry);}
.c-grn{color: var(--c-grn);}
.c-gld{color: var(--c-gld);}
.c-dkg{color: var(--c-dkg);}
.c-grg{color: var(--c-grg);}
.c-ivry{color: var(--c-ivry);}
.c-khk{color: var(--c-khk);}
.c-lav{color: var(--c-lav);}
.c-lvs{color: var(--c-lvs);}
.c-lme{color: var(--c-lme);}
.c-lwg{color: var(--c-lwg);}
.c-lbn{color: var(--c-lbn);}
.c-lvp{color: var(--c-lvp);}
.c-mgn{color: var(--c-mgn);}
.c-mro{color: var(--c-mro);}
.c-mdv{color: var(--c-mdv);}
.c-nvy{color: var(--c-nvy);}
.c-olv{color: var(--c-olv);}
.c-org{color: var(--c-org);}
.c-orn{color: var(--c-orn);}
.c-plm{color: var(--c-plm);}
.c-pdm{color: var(--c-pdm);}
.c-pkn{color: var(--c-pkn);}
.c-pnk{color: var(--c-pnk);}
.c-plp{color: var(--c-plp);}
.c-rd{color: var(--c-rd);}
.c-ros{color: var(--c-ros);}
.c-rpl{color: var(--c-rpl);}
.c-red{color: var(--c-red);}
.c-rbr{color: var(--c-rbr);}
.c-slm{color: var(--c-slm);}
.c-sil{color: var(--c-sil);}
.c-sky{color: var(--c-sky);}
.c-sno{color: var(--c-sno);}
.c-spr{color: var(--c-spr);}
.c-tan{color: var(--c-tan);}
.c-teal{color: var(--c-teal);}
.c-tom{color: var(--c-tom);}
.c-tur{color: var(--c-tur);}
.c-vlt{color: var(--c-vlt);}
.c-wht{color: var(--c-wht);}
.c-ylw{color: var(--c-ylw);}

/* op 75 */
.c-alp-75{color: var(--c-alp-75);}
.c-aqw-75{color: var(--c-aqw-75);}  
.c-aqm-75{color: var(--c-aqm-75);}  
.c-azr-75{color: var(--c-azr-75);}  
.c-bege-75{color: var(--c-bege-75);}
.c-bsq-75{color: var(--c-bsq-75);}  
.c-blc-75{color: var(--c-blc-75);}  
.c-bal-75{color: var(--c-bal-75);}  
.c-azu-75{color: var(--c-azu-75);}  
.c-bvt-75{color: var(--c-bvt-75);}  
.c-brw-75{color: var(--c-brw-75);}  
.c-bly-75{color: var(--c-bly-75);}  
.c-cbl-75{color: var(--c-cbl-75);}  
.c-cht-75{color: var(--c-cht-75);}  
.c-cho-75{color: var(--c-cho-75);}  
.c-crl-75{color: var(--c-crl-75);}
.c-cfb-75{color: var(--c-cfb-75);}
.c-cyn-75{color: var(--c-cyn-75);}
.c-dkc-75{color: var(--c-dkc-75);}
.c-dgn-75{color: var(--c-dgn-75);}
.c-gry-75{color: var(--c-gry-75);}
.c-grn-75{color: var(--c-grn-75);}
.c-gld-75{color: var(--c-gld-75);}
.c-dkg-75{color: var(--c-dkg-75);}
.c-grg-75{color: var(--c-grg-75);}
.c-ivry-75{color: var(--c-ivry-75);}
.c-khk-75{color: var(--c-khk-75);}
.c-lav-75{color: var(--c-lav-75);}
.c-lvs-75{color: var(--c-lvs-75);}
.c-lme-75{color: var(--c-lme-75);}
.c-lwg-75{color: var(--c-lwg-75);}
.c-lbn-75{color: var(--c-lbn-75);}
.c-lvp-75{color: var(--c-lvp-75);}
.c-mgn-75{color: var(--c-mgn-75);}
.c-mro-75{color: var(--c-mro-75);}
.c-mdv-75{color: var(--c-mdv-75);}
.c-nvy-75{color: var(--c-nvy-75);}
.c-olv-75{color: var(--c-olv-75);}
.c-org-75{color: var(--c-org-75);}
.c-orn-75{color: var(--c-orn-75);}
.c-plm-75{color: var(--c-plm-75);}
.c-pdm-75{color: var(--c-pdm-75);}
.c-pkn-75{color: var(--c-pkn-75);}
.c-pnk-75{color: var(--c-pnk-75);}
.c-plp-75{color: var(--c-plp-75);}
.c-rd-75{color: var(--c-rd-75);}
.c-ros-75{color: var(--c-ros-75);}
.c-rpl-75{color: var(--c-rpl-75);}
.c-red-75{color: var(--c-red-75);}
.c-rbr-75{color: var(--c-rbr-75);}
.c-slm-75{color: var(--c-slm-75);}
.c-sil-75{color: var(--c-sil-75);}
.c-sky-75{color: var(--c-sky-75);}
.c-sno-75{color: var(--c-sno-75);}
.c-spr-75{color: var(--c-spr-75);}
.c-tan-75{color: var(--c-tan-75);}
.c-teal-75{color: var(--c-teal-75);}
.c-tom-75{color: var(--c-tom-75);}
.c-tur-75{color: var(--c-tur-75);}
.c-vlt-75{color: var(--c-vlt-75);}
.c-wht-75{color: var(--c-wht-75);}
.c-ylw-75{color: var(--c-ylw-75);}

/* op 50 */
.c-alp-50{color: var(--c-alp-50);}
.c-aqw-50{color: var(--c-aqw-50);}  
.c-aqm-50{color: var(--c-aqm-50);}  
.c-azr-50{color: var(--c-azr-50);}  
.c-bege-50{color: var(--c-bege-50);}
.c-bsq-50{color: var(--c-bsq-50);}  
.c-blc-50{color: var(--c-blc-50);}  
.c-bal-50{color: var(--c-bal-50);}  
.c-azu-50{color: var(--c-azu-50);}  
.c-bvt-50{color: var(--c-bvt-50);}  
.c-brw-50{color: var(--c-brw-50);}  
.c-bly-50{color: var(--c-bly-50);}  
.c-cbl-50{color: var(--c-cbl-50);}  
.c-cht-50{color: var(--c-cht-50);}  
.c-cho-50{color: var(--c-cho-50);}  
.c-crl-50{color: var(--c-crl-50);}
.c-cfb-50{color: var(--c-cfb-50);}
.c-cyn-50{color: var(--c-cyn-50);}
.c-dkc-50{color: var(--c-dkc-50);}
.c-dgn-50{color: var(--c-dgn-50);}
.c-gry-50{color: var(--c-gry-50);}
.c-grn-50{color: var(--c-grn-50);}
.c-gld-50{color: var(--c-gld-50);}
.c-dkg-50{color: var(--c-dkg-50);}
.c-grg-50{color: var(--c-grg-50);}
.c-ivry-50{color: var(--c-ivry-50);}
.c-khk-50{color: var(--c-khk-50);}
.c-lav-50{color: var(--c-lav-50);}
.c-lvs-50{color: var(--c-lvs-50);}
.c-lme-50{color: var(--c-lme-50);}
.c-lwg-50{color: var(--c-lwg-50);}
.c-lbn-50{color: var(--c-lbn-50);}
.c-lvp-50{color: var(--c-lvp-50);}
.c-mgn-50{color: var(--c-mgn-50);}
.c-mro-50{color: var(--c-mro-50);}
.c-mdv-50{color: var(--c-mdv-50);}
.c-nvy-50{color: var(--c-nvy-50);}
.c-olv-50{color: var(--c-olv-50);}
.c-org-50{color: var(--c-org-50);}
.c-orn-50{color: var(--c-orn-50);}
.c-plm-50{color: var(--c-plm-50);}
.c-pdm-50{color: var(--c-pdm-50);}
.c-pkn-50{color: var(--c-pkn-50);}
.c-pnk-50{color: var(--c-pnk-50);}
.c-plp-50{color: var(--c-plp-50);}
.c-rd-50{color: var(--c-rd-50);}
.c-ros-50{color: var(--c-ros-50);}
.c-rpl-50{color: var(--c-rpl-50);}
.c-red-50{color: var(--c-red-50);}
.c-rbr-50{color: var(--c-rbr-50);}
.c-slm-50{color: var(--c-slm-50);}
.c-sil-50{color: var(--c-sil-50);}
.c-sky-50{color: var(--c-sky-50);}
.c-sno-50{color: var(--c-sno-50);}
.c-spr-50{color: var(--c-spr-50);}
.c-tan-50{color: var(--c-tan-50);}
.c-teal-50{color: var(--c-teal-50);}
.c-tom-50{color: var(--c-tom-50);}
.c-tur-50{color: var(--c-tur-50);}
.c-vlt-50{color: var(--c-vlt-50);}
.c-wht-50{color: var(--c-wht-50);}
.c-ylw-50{color: var(--c-ylw-50);}

/* op 25 */
.c-alp-25{color: var(--c-alp-25);}
.c-aqw-25{color: var(--c-aqw-25);}  
.c-aqm-25{color: var(--c-aqm-25);}  
.c-azr-25{color: var(--c-azr-25);}  
.c-bege-25{color: var(--c-bege-25);}
.c-bsq-25{color: var(--c-bsq-25);}  
.c-blc-25{color: var(--c-blc-25);}  
.c-bal-25{color: var(--c-bal-25);}  
.c-azu-25{color: var(--c-azu-25);}  
.c-bvt-25{color: var(--c-bvt-25);}  
.c-brw-25{color: var(--c-brw-25);}  
.c-bly-25{color: var(--c-bly-25);}  
.c-cbl-25{color: var(--c-cbl-25);}  
.c-cht-25{color: var(--c-cht-25);}  
.c-cho-25{color: var(--c-cho-25);}  
.c-crl-25{color: var(--c-crl-25);}
.c-cfb-25{color: var(--c-cfb-25);}
.c-cyn-25{color: var(--c-cyn-25);}
.c-dkc-25{color: var(--c-dkc-25);}
.c-dgn-25{color: var(--c-dgn-25);}
.c-gry-25{color: var(--c-gry-25);}
.c-grn-25{color: var(--c-grn-25);}
.c-gld-25{color: var(--c-gld-25);}
.c-dkg-25{color: var(--c-dkg-25);}
.c-grg-25{color: var(--c-grg-25);}
.c-ivry-25{color: var(--c-ivry-25);}
.c-khk-25{color: var(--c-khk-25);}
.c-lav-25{color: var(--c-lav-25);}
.c-lvs-25{color: var(--c-lvs-25);}
.c-lme-25{color: var(--c-lme-25);}
.c-lwg-25{color: var(--c-lwg-25);}
.c-lbn-25{color: var(--c-lbn-25);}
.c-lvp-25{color: var(--c-lvp-25);}
.c-mgn-25{color: var(--c-mgn-25);}
.c-mro-25{color: var(--c-mro-25);}
.c-mdv-25{color: var(--c-mdv-25);}
.c-nvy-25{color: var(--c-nvy-25);}
.c-olv-25{color: var(--c-olv-25);}
.c-org-25{color: var(--c-org-25);}
.c-orn-25{color: var(--c-orn-25);}
.c-plm-25{color: var(--c-plm-25);}
.c-pdm-25{color: var(--c-pdm-25);}
.c-pkn-25{color: var(--c-pkn-25);}
.c-pnk-25{color: var(--c-pnk-25);}
.c-plp-25{color: var(--c-plp-25);}
.c-rd-25{color: var(--c-rd-25);}
.c-ros-25{color: var(--c-ros-25);}
.c-rpl-25{color: var(--c-rpl-25);}
.c-red-25{color: var(--c-red-25);}
.c-rbr-25{color: var(--c-rbr-25);}
.c-slm-25{color: var(--c-slm-25);}
.c-sil-25{color: var(--c-sil-25);}
.c-sky-25{color: var(--c-sky-25);}
.c-sno-25{color: var(--c-sno-25);}
.c-spr-25{color: var(--c-spr-25);}
.c-tan-25{color: var(--c-tan-25);}
.c-teal-25{color: var(--c-teal-25);}
.c-tom-25{color: var(--c-tom-25);}
.c-tur-25{color: var(--c-tur-25);}
.c-vlt-25{color: var(--c-vlt-25);}
.c-wht-25{color: var(--c-wht-25);}
.c-ylw-25{color: var(--c-ylw-25);}