:root{
    --bg-alp:#f0f8ff;
    --bg-aqw:#00ffff; 
    --bg-aqm:#7fffd4; 
    --bg-azr:#f0ffff; 
    --bg-bege:#f5f5dc;
    --bg-bsq:#ffe4c4; 
    --bg-blc:#000000;    
    --bg-bal:#ffebcd; 
    --bg-azu:#0000ff;
    --bg-bvt:#8a2be2;
    --bg-brw:#a52a2a;
    --bg-bly:#deb887;
    --bg-cbl:#5f9ea0;
    --bg-cht:#7fff00;
    --bg-cho:#d2691e;
    --bg-crl:#ff7f50;
    --bg-cfb:#6495ed;
    --bg-cyn:#00ffff;
    --bg-dkc:#00008b;
    --bg-dgn:#008b8b;
    --bg-gry:#808080;
    --bg-grn:#008000;
    --bg-gld:#ffd700;
    --bg-dkg:#a9a9a9;
    --bg-grg:#adff2f;
    --bg-ivry:#fffff0;
    --bg-khk:#bdb76b;
    --bg-lav:#e6e6fa;
    --bg-lvs:#fff0f5;
    --bg-lme:#faf0e6;
    --bg-lwg:#90ee90;
    --bg-lbn:#add8e6;
    --bg-lvp:#d3d3d3;
    --bg-mgn:#ff00ff;
    --bg-mro:#800000;
    --bg-mdv:#c71585;
    --bg-nvy:#000080;
    --bg-olv:#808000;
    --bg-org:#ffa500;
    --bg-orn:#ff4500;
    --bg-plm:#da70d6;
    --bg-pdm:#9370db;
    --bg-pkn:#ffc0cb;
    --bg-pnk:#ff69b4;
    --bg-plp:#dda0dd;
    --bg-rd:#ff0000;
    --bg-ros:#bc8f8f;
    --bg-rpl:#800080;
    --bg-red:#f00;
    --bg-rbr:#8b0000;
    --bg-slm:#20b2aa;
    --bg-sil:#c0c0c0;
    --bg-sky:#87ceeb;
    --bg-sno:#fffafa;
    --bg-spr:#00ff7f;
    --bg-tan:#d2b48c;
    --bg-teal:#008080;
    --bg-tom:#ff6347;
    --bg-tur:#40e0d0;
    --bg-vlt:#ee82ee;
    --bg-wht:#ffffff;
    --bg-ylw:#ffff00;

    --c-alp:#f0f8ff;
    --c-aqw:#00ffff; 
    --c-aqm:#7fffd4; 
    --c-azr:#f0ffff; 
    --c-bege:#f5f5dc;
    --c-bsq:#ffe4c4; 
    --c-blc:#000;    
    --c-bal:#ffebcd; 
    --c-azu:#00f;
    --c-bvt:#8a2be2;
    --c-brw:#a52a2a;
    --c-bly:#deb887;
    --c-cbl:#5f9ea0;
    --c-cht:#7fff00;
    --c-cho:#d2691e;
    --c-crl:#ff7f50;
    --c-cfb:#6495ed;
    --c-cyn:#0ff;
    --c-dkc:#00008b;
    --c-dgn:#008b8b;
    --c-gry:#808080;
    --c-grn:#008000;
    --c-gld:#ffd700;
    --c-dkg:#a9a9a9;
    --c-grg:#adff2f;
    --c-ivry:#fffff0;
    --c-khk:#bdb76b;
    --c-lav:#e6e6fa;
    --c-lvs:#fff0f5;
    --c-lme:#faf0e6;
    --c-lwg:#90ee90;
    --c-lbn:#add8e6;
    --c-lvp:#d3d3d3;
    --c-mgn:#ff00ff;
    --c-mro:#800000;
    --c-mdv:#c71585;
    --c-nvy:#000080;
    --c-olv:#808000;
    --c-org:#ffa500;
    --c-orn:#ff4500;
    --c-plm:#da70d6;
    --c-pdm:#9370db;
    --c-pkn:#ffc0cb;
    --c-pnk:#ff69b4;
    --c-plp:#dda0dd;
    --c-ros:#bc8f8f;
    --c-rpl:#800080;
    --c-red:#f00;
    --c-rbr:#8b0000;
    --c-slm:#20b2aa;
    --c-sil:#c0c0c0;
    --c-sky:#87ceeb;
    --c-sno:#fffafa;
    --c-spr:#00ff7f;
    --c-tan:#d2b48c;
    --c-teal:#008080;
    --c-tom:#ff6347;
    --c-tur:#40e0d0;
    --c-vlt:#ee82ee;
    --c-wht:#fff;
    --c-ylw:#ff0;

    --bg-alp-75:rgba(240, 248, 255, 0.75);
    --bg-aqw-75:rgba(0, 255, 255, 0.75);
    --bg-aqm-75:rgba(127, 255, 212, 0.75);
    --bg-azr-75:rgba(240, 255, 255, 0.75);
    --bg-bege-75:rgba(245, 245, 220, 0.75);
    --bg-bsq-75:rgba(255, 228, 196, 0.75);
    --bg-blc-75:rgba(0, 0, 0, 0.75);
    --bg-bal-75:rgba(255, 235, 205, 0.75);
    --bg-azu-75:rgba(0, 0, 255, 0.75);
    --bg-bvt-75:rgba(138, 43, 226, 0.75);
    --bg-brw-75:rgba(165, 42, 42, 0.75);
    --bg-bly-75:rgba(222, 184, 135, 0.75);
    --bg-cbl-75:rgba(95, 158, 160, 0.75);
    --bg-cht-75:rgba(127, 255, 0, 0.75);
    --bg-cho-75:rgba(210, 105, 30, 0.75);
    --bg-crl-75:rgba(255, 127, 80, 0.75);
    --bg-cfb-75:rgba(100, 149, 237, 0.75);
    --bg-cyn-75:rgba(0, 255, 255, 0.75);
    --bg-dkc-75:rgba(0, 0, 139, 0.75);
    --bg-dgn-75:rgba(0, 139, 139, 0.75);
    --bg-gry-75:rgba(128, 128, 128, 0.75);
    --bg-grn-75:rgba(0, 128, 0, 0.75);
    --bg-gld-75:rgba(255, 215, 0, 0.75);
    --bg-dkg-75:rgba(169, 169, 169, 0.75);
    --bg-grg-75:rgba(173, 255, 47, 0.75);
    --bg-ivry-75:rgba(255, 255, 240, 0.75);
    --bg-khk-75:rgba(189, 183, 107, 0.75);
    --bg-lav-75:rgba(230, 230, 250, 0.75);
    --bg-lvs-75:rgba(255, 240, 245, 0.75);
    --bg-lme-75:rgba(250, 240, 230, 0.75);
    --bg-lwg-75:rgba(144, 238, 144, 0.75);
    --bg-lbn-75:rgba(173, 216, 230, 0.75);
    --bg-lvp-75:rgba(211, 211, 211, 0.75);
    --bg-mgn-75:rgba(255, 0, 255, 0.75);
    --bg-mro-75:rgba(128, 0, 0, 0.75);
    --bg-mdv-75:rgba(199, 21, 133, 0.75);
    --bg-nvy-75:rgba(0, 0, 128, 0.75);
    --bg-olv-75:rgba(128, 128, 0, 0.75);
    --bg-org-75:rgba(255, 165, 0, 0.75);
    --bg-orn-75:rgba(255, 69, 0, 0.75);
    --bg-plm-75:rgba(218, 112, 214, 0.75);
    --bg-pdm-75:rgba(147, 112, 219, 0.75);
    --bg-pkn-75:rgba(255, 192, 203, 0.75);
    --bg-pnk-75:rgba(255, 105, 180, 0.75);
    --bg-plp-75:rgba(221, 160, 221, 0.75);
    --bg-ros-75:rgba(188, 143, 143, 0.75);
    --bg-rpl-75:rgba(128, 0, 128, 0.75);
    --bg-rbr-75:rgba(139, 0, 0, 0.75);
    --bg-slm-75:rgba(32, 178, 170, 0.75);
    --bg-sil-75:rgba(192, 192, 192, 0.75);
    --bg-sky-75:rgba(135, 206, 235, 0.75);
    --bg-sno-75:rgba(255, 250, 250, 0.75);
    --bg-spr-75:rgba(0, 255, 127, 0.75);
    --bg-tan-75:rgba(210, 180, 140, 0.75);
    --bg-teal-75:rgba(0, 128, 128, 0.75);
    --bg-tom-75:rgba(255, 99, 71, 0.75);
    --bg-tur-75:rgba(64, 224, 208, 0.75);
    --bg-vlt-75:rgba(238, 130, 238, 0.75);
    --bg-wht-75:rgba(255, 255, 255, 0.75);
    --bg-ylw-75:rgba(255, 255, 0, 0.75);

    --c-alp-75:rgba(240, 248, 255, 0.75);
    --c-aqw-75:rgba(0, 255, 255, 0.75);
    --c-aqm-75:rgba(127, 255, 212, 0.75);
    --c-azr-75:rgba(240, 255, 255, 0.75);
    --c-bege-75:rgba(245, 245, 220, 0.75);
    --c-bsq-75:rgba(255, 228, 196, 0.75);
    --c-blc-75:rgba(0, 0, 0, 0.75);
    --c-bal-75:rgba(255, 235, 205, 0.75);
    --c-azu-75:rgba(0, 0, 255, 0.75);
    --c-bvt-75:rgba(138, 43, 226, 0.75);
    --c-brw-75:rgba(165, 42, 42, 0.75);
    --c-bly-75:rgba(222, 184, 135, 0.75);
    --c-cbl-75:rgba(95, 158, 160, 0.75);
    --c-cht-75:rgba(127, 255, 0, 0.75);
    --c-cho-75:rgba(210, 105, 30, 0.75);
    --c-crl-75:rgba(255, 127, 80, 0.75);
    --c-cfb-75:rgba(100, 149, 237, 0.75);
    --c-cyn-75:rgba(0, 255, 255, 0.75);
    --c-dkc-75:rgba(0, 0, 139, 0.75);
    --c-dgn-75:rgba(0, 139, 139, 0.75);
    --c-gry-75:rgba(128, 128, 128, 0.75);
    --c-grn-75:rgba(0, 128, 0, 0.75);
    --c-gld-75:rgba(255, 215, 0, 0.75);
    --c-dkg-75:rgba(169, 169, 169, 0.75);
    --c-grg-75:rgba(173, 255, 47, 0.75);
    --c-ivry-75:rgba(255, 255, 240, 0.75);
    --c-khk-75:rgba(189, 183, 107, 0.75);
    --c-lav-75:rgba(230, 230, 250, 0.75);
    --c-lvs-75:rgba(255, 240, 245, 0.75);
    --c-lme-75:rgba(250, 240, 230, 0.75);
    --c-lwg-75:rgba(144, 238, 144, 0.75);
    --c-lbn-75:rgba(173, 216, 230, 0.75);
    --c-lvp-75:rgba(211, 211, 211, 0.75);
    --c-mgn-75:rgba(255, 0, 255, 0.75);
    --c-mro-75:rgba(128, 0, 0, 0.75);
    --c-mdv-75:rgba(199, 21, 133, 0.75);
    --c-nvy-75:rgba(0, 0, 128, 0.75);
    --c-olv-75:rgba(128, 128, 0, 0.75);
    --c-org-75:rgba(255, 165, 0, 0.75);
    --c-orn-75:rgba(255, 69, 0, 0.75);
    --c-plm-75:rgba(218, 112, 214, 0.75);
    --c-pdm-75:rgba(147, 112, 219, 0.75);
    --c-pkn-75:rgba(255, 192, 203, 0.75);
    --c-pnk-75:rgba(255, 105, 180, 0.75);
    --c-plp-75:rgba(221, 160, 221, 0.75);
    --c-ros-75:rgba(188, 143, 143, 0.75);
    --c-rpl-75:rgba(128, 0, 128, 0.75);
    --c-red-75:rgba(255, 0, 0, 0.75);
    --c-rbr-75:rgba(139, 0, 0, 0.75);
    --c-slm-75:rgba(32, 178, 170, 0.75);
    --c-sil-75:rgba(192, 192, 192, 0.75);
    --c-sky-75:rgba(135, 206, 235, 0.75);
    --c-sno-75:rgba(255, 250, 250, 0.75);
    --c-spr-75:rgba(0, 255, 127, 0.75);
    --c-tan-75:rgba(210, 180, 140, 0.75);
    --c-teal-75:rgba(0, 128, 128, 0.75);
    --c-tom-75:rgba(255, 99, 71, 0.75);
    --c-tur-75:rgba(64, 224, 208, 0.75);
    --c-vlt-75:rgba(238, 130, 238, 0.75);
    --c-wht-75:rgba(255, 255, 255, 0.75);
    --c-ylw-75:rgba(255, 255, 0, 0.75);

    --bg-alp-50:rgba(240, 248, 255, 0.50);
    --bg-aqw-50:rgba(0, 255, 255, 0.50);
    --bg-aqm-50:rgba(127, 255, 212, 0.50);
    --bg-azr-50:rgba(240, 255, 255, 0.50);
    --bg-bege-50:rgba(245, 245, 220, 0.50);
    --bg-bsq-50:rgba(255, 228, 196, 0.50);
    --bg-blc-50:rgba(0, 0, 0, 0.50);
    --bg-bal-50:rgba(255, 235, 205, 0.50);
    --bg-azu-50:rgba(0, 0, 255, 0.50);
    --bg-bvt-50:rgba(138, 43, 226, 0.50);
    --bg-brw-50:rgba(165, 42, 42, 0.50);
    --bg-bly-50:rgba(222, 184, 135, 0.50);
    --bg-cbl-50:rgba(95, 158, 160, 0.50);
    --bg-cht-50:rgba(127, 255, 0, 0.50);
    --bg-cho-50:rgba(210, 105, 30, 0.50);
    --bg-crl-50:rgba(255, 127, 80, 0.50);
    --bg-cfb-50:rgba(100, 149, 237, 0.50);
    --bg-cyn-50:rgba(0, 255, 255, 0.50);
    --bg-dkc-50:rgba(0, 0, 139, 0.50);
    --bg-dgn-50:rgba(0, 139, 139, 0.50);
    --bg-gry-50:rgba(128, 128, 128, 0.50);
    --bg-grn-50:rgba(0, 128, 0, 0.50);
    --bg-gld-50:rgba(255, 215, 0, 0.50);
    --bg-dkg-50:rgba(169, 169, 169, 0.50);
    --bg-grg-50:rgba(173, 255, 47, 0.50);
    --bg-ivry-50:rgba(255, 255, 240, 0.50);
    --bg-khk-50:rgba(189, 183, 107, 0.50);
    --bg-lav-50:rgba(230, 230, 250, 0.50);
    --bg-lvs-50:rgba(255, 240, 245, 0.50);
    --bg-lme-50:rgba(250, 240, 230, 0.50);
    --bg-lwg-50:rgba(144, 238, 144, 0.50);
    --bg-lbn-50:rgba(173, 216, 230, 0.50);
    --bg-lvp-50:rgba(211, 211, 211, 0.50);
    --bg-mgn-50:rgba(255, 0, 255, 0.50);
    --bg-mro-50:rgba(128, 0, 0, 0.50);
    --bg-mdv-50:rgba(199, 21, 133, 0.50);
    --bg-nvy-50:rgba(0, 0, 128, 0.50);
    --bg-olv-50:rgba(128, 128, 0, 0.50);
    --bg-org-50:rgba(255, 165, 0, 0.50);
    --bg-orn-50:rgba(255, 69, 0, 0.50);
    --bg-plm-50:rgba(218, 112, 214, 0.50);
    --bg-pdm-50:rgba(147, 112, 219, 0.50);
    --bg-pkn-50:rgba(255, 192, 203, 0.50);
    --bg-pnk-50:rgba(255, 105, 180, 0.50);
    --bg-plp-50:rgba(221, 160, 221, 0.50);
    --bg-ros-50:rgba(188, 143, 143, 0.50);
    --bg-rpl-50:rgba(128, 0, 128, 0.50);
    --bg-rbr-50:rgba(139, 0, 0, 0.50);
    --bg-slm-50:rgba(32, 178, 170, 0.50);
    --bg-sil-50:rgba(192, 192, 192, 0.50);
    --bg-sky-50:rgba(135, 206, 235, 0.50);
    --bg-sno-50:rgba(255, 250, 250, 0.50);
    --bg-spr-50:rgba(0, 255, 127, 0.50);
    --bg-tan-50:rgba(210, 180, 140, 0.50);
    --bg-teal-50:rgba(0, 128, 128, 0.50);
    --bg-tom-50:rgba(255, 99, 71, 0.50);
    --bg-tur-50:rgba(64, 224, 208, 0.50);
    --bg-vlt-50:rgba(238, 130, 238, 0.50);
    --bg-wht-50:rgba(255, 255, 255, 0.50);
    --bg-ylw-50:rgba(255, 255, 0, 0.50);

    --c-alp-50:rgba(240, 248, 255, 0.50);
    --c-aqw-50:rgba(0, 255, 255, 0.50);
    --c-aqm-50:rgba(127, 255, 212, 0.50);
    --c-azr-50:rgba(240, 255, 255, 0.50);
    --c-bege-50:rgba(245, 245, 220, 0.50);
    --c-bsq-50:rgba(255, 228, 196, 0.50);
    --c-blc-50:rgba(0, 0, 0, 0.50);
    --c-bal-50:rgba(255, 235, 205, 0.50);
    --c-azu-50:rgba(0, 0, 255, 0.50);
    --c-bvt-50:rgba(138, 43, 226, 0.50);
    --c-brw-50:rgba(165, 42, 42, 0.50);
    --c-bly-50:rgba(222, 184, 135, 0.50);
    --c-cbl-50:rgba(95, 158, 160, 0.50);
    --c-cht-50:rgba(127, 255, 0, 0.50);
    --c-cho-50:rgba(210, 105, 30, 0.50);
    --c-crl-50:rgba(255, 127, 80, 0.50);
    --c-cfb-50:rgba(100, 149, 237, 0.50);
    --c-cyn-50:rgba(0, 255, 255, 0.50);
    --c-dkc-50:rgba(0, 0, 139, 0.50);
    --c-dgn-50:rgba(0, 139, 139, 0.50);
    --c-gry-50:rgba(128, 128, 128, 0.50);
    --c-grn-50:rgba(0, 128, 0, 0.50);
    --c-gld-50:rgba(255, 215, 0, 0.50);
    --c-dkg-50:rgba(169, 169, 169, 0.50);
    --c-grg-50:rgba(173, 255, 47, 0.50);
    --c-ivry-50:rgba(255, 255, 240, 0.50);
    --c-khk-50:rgba(189, 183, 107, 0.50);
    --c-lav-50:rgba(230, 230, 250, 0.50);
    --c-lvs-50:rgba(255, 240, 245, 0.50);
    --c-lme-50:rgba(250, 240, 230, 0.50);
    --c-lwg-50:rgba(144, 238, 144, 0.50);
    --c-lbn-50:rgba(173, 216, 230, 0.50);
    --c-lvp-50:rgba(211, 211, 211, 0.50);
    --c-mgn-50:rgba(255, 0, 255, 0.50);
    --c-mro-50:rgba(128, 0, 0, 0.50);
    --c-mdv-50:rgba(199, 21, 133, 0.50);
    --c-nvy-50:rgba(0, 0, 128, 0.50);
    --c-olv-50:rgba(128, 128, 0, 0.50);
    --c-org-50:rgba(255, 165, 0, 0.50);
    --c-orn-50:rgba(255, 69, 0, 0.50);
    --c-plm-50:rgba(218, 112, 214, 0.50);
    --c-pdm-50:rgba(147, 112, 219, 0.50);
    --c-pkn-50:rgba(255, 192, 203, 0.50);
    --c-pnk-50:rgba(255, 105, 180, 0.50);
    --c-plp-50:rgba(221, 160, 221, 0.50);
    --c-ros-50:rgba(188, 143, 143, 0.50);
    --c-rpl-50:rgba(128, 0, 128, 0.50);
    --c-red-50:rgba(255, 0, 0, 0.50);
    --c-rbr-50:rgba(139, 0, 0, 0.50);
    --c-slm-50:rgba(32, 178, 170, 0.50);
    --c-sil-50:rgba(192, 192, 192, 0.50);
    --c-sky-50:rgba(135, 206, 235, 0.50);
    --c-sno-50:rgba(255, 250, 250, 0.50);
    --c-spr-50:rgba(0, 255, 127, 0.50);
    --c-tan-50:rgba(210, 180, 140, 0.50);
    --c-teal-50:rgba(0, 128, 128, 0.50);
    --c-tom-50:rgba(255, 99, 71, 0.50);
    --c-tur-50:rgba(64, 224, 208, 0.50);
    --c-vlt-50:rgba(238, 130, 238, 0.50);
    --c-wht-50:rgba(255, 255, 255, 0.50);
    --c-ylw-50:rgba(255, 255, 0, 0.50);

    --bg-alp-25:rgba(240, 248, 255, 0.25);
    --bg-aqw-25:rgba(0, 255, 255, 0.25);
    --bg-aqm-25:rgba(127, 255, 212, 0.25);
    --bg-azr-25:rgba(240, 255, 255, 0.25);
    --bg-bege-25:rgba(245, 245, 220, 0.25);
    --bg-bsq-25:rgba(255, 228, 196, 0.25);
    --bg-blc-25:rgba(0, 0, 0, 0.25);
    --bg-bal-25:rgba(255, 235, 205, 0.25);
    --bg-azu-25:rgba(0, 0, 255, 0.25);
    --bg-bvt-25:rgba(138, 43, 226, 0.25);
    --bg-brw-25:rgba(165, 42, 42, 0.25);
    --bg-bly-25:rgba(222, 184, 135, 0.25);
    --bg-cbl-25:rgba(95, 158, 160, 0.25);
    --bg-cht-25:rgba(127, 255, 0, 0.25);
    --bg-cho-25:rgba(210, 105, 30, 0.25);
    --bg-crl-25:rgba(255, 127, 80, 0.25);
    --bg-cfb-25:rgba(100, 149, 237, 0.25);
    --bg-cyn-25:rgba(0, 255, 255, 0.25);
    --bg-dkc-25:rgba(0, 0, 139, 0.25);
    --bg-dgn-25:rgba(0, 139, 139, 0.25);
    --bg-gry-25:rgba(128, 128, 128, 0.25);
    --bg-grn-25:rgba(0, 128, 0, 0.25);
    --bg-gld-25:rgba(255, 215, 0, 0.25);
    --bg-dkg-25:rgba(169, 169, 169, 0.25);
    --bg-grg-25:rgba(173, 255, 47, 0.25);
    --bg-ivry-25:rgba(255, 255, 240, 0.25);
    --bg-khk-25:rgba(189, 183, 107, 0.25);
    --bg-lav-25:rgba(230, 230, 250, 0.25);
    --bg-lvs-25:rgba(255, 240, 245, 0.25);
    --bg-lme-25:rgba(250, 240, 230, 0.25);
    --bg-lwg-25:rgba(144, 238, 144, 0.25);
    --bg-lbn-25:rgba(173, 216, 230, 0.25);
    --bg-lvp-25:rgba(211, 211, 211, 0.25);
    --bg-mgn-25:rgba(255, 0, 255, 0.25);
    --bg-mro-25:rgba(128, 0, 0, 0.25);
    --bg-mdv-25:rgba(199, 21, 133, 0.25);
    --bg-nvy-25:rgba(0, 0, 128, 0.25);
    --bg-olv-25:rgba(128, 128, 0, 0.25);
    --bg-org-25:rgba(255, 165, 0, 0.25);
    --bg-orn-25:rgba(255, 69, 0, 0.25);
    --bg-plm-25:rgba(218, 112, 214, 0.25);
    --bg-pdm-25:rgba(147, 112, 219, 0.25);
    --bg-pkn-25:rgba(255, 192, 203, 0.25);
    --bg-pnk-25:rgba(255, 105, 180, 0.25);
    --bg-plp-25:rgba(221, 160, 221, 0.25);
    --bg-ros-25:rgba(188, 143, 143, 0.25);
    --bg-rpl-25:rgba(128, 0, 128, 0.25);
    --bg-rbr-25:rgba(139, 0, 0, 0.25);
    --bg-slm-25:rgba(32, 178, 170, 0.25);
    --bg-sil-25:rgba(192, 192, 192, 0.25);
    --bg-sky-25:rgba(135, 206, 235, 0.25);
    --bg-sno-25:rgba(255, 250, 250, 0.25);
    --bg-spr-25:rgba(0, 255, 127, 0.25);
    --bg-tan-25:rgba(210, 180, 140, 0.25);
    --bg-teal-25:rgba(0, 128, 128, 0.25);
    --bg-tom-25:rgba(255, 99, 71, 0.25);
    --bg-tur-25:rgba(64, 224, 208, 0.25);
    --bg-vlt-25:rgba(238, 130, 238, 0.25);
    --bg-wht-25:rgba(255, 255, 255, 0.25);
    --bg-ylw-25:rgba(255, 255, 0, 0.25);

    --c-alp-25:rgba(240, 248, 255, 0.25);
    --c-aqw-25:rgba(0, 255, 255, 0.25);
    --c-aqm-25:rgba(127, 255, 212, 0.25);
    --c-azr-25:rgba(240, 255, 255, 0.25);
    --c-bege-25:rgba(245, 245, 220, 0.25);
    --c-bsq-25:rgba(255, 228, 196, 0.25);
    --c-blc-25:rgba(0, 0, 0, 0.25);
    --c-bal-25:rgba(255, 235, 205, 0.25);
    --c-azu-25:rgba(0, 0, 255, 0.25);
    --c-bvt-25:rgba(138, 43, 226, 0.25);
    --c-brw-25:rgba(165, 42, 42, 0.25);
    --c-bly-25:rgba(222, 184, 135, 0.25);
    --c-cbl-25:rgba(95, 158, 160, 0.25);
    --c-cht-25:rgba(127, 255, 0, 0.25);
    --c-cho-25:rgba(210, 105, 30, 0.25);
    --c-crl-25:rgba(255, 127, 80, 0.25);
    --c-cfb-25:rgba(100, 149, 237, 0.25);
    --c-cyn-25:rgba(0, 255, 255, 0.25);
    --c-dkc-25:rgba(0, 0, 139, 0.25);
    --c-dgn-25:rgba(0, 139, 139, 0.25);
    --c-gry-25:rgba(128, 128, 128, 0.25);
    --c-grn-25:rgba(0, 128, 0, 0.25);
    --c-gld-25:rgba(255, 215, 0, 0.25);
    --c-dkg-25:rgba(169, 169, 169, 0.25);
    --c-grg-25:rgba(173, 255, 47, 0.25);
    --c-ivry-25:rgba(255, 255, 240, 0.25);
    --c-khk-25:rgba(189, 183, 107, 0.25);
    --c-lav-25:rgba(230, 230, 250, 0.25);
    --c-lvs-25:rgba(255, 240, 245, 0.25);
    --c-lme-25:rgba(250, 240, 230, 0.25);
    --c-lwg-25:rgba(144, 238, 144, 0.25);
    --c-lbn-25:rgba(173, 216, 230, 0.25);
    --c-lvp-25:rgba(211, 211, 211, 0.25);
    --c-mgn-25:rgba(255, 0, 255, 0.25);
    --c-mro-25:rgba(128, 0, 0, 0.25);
    --c-mdv-25:rgba(199, 21, 133, 0.25);
    --c-nvy-25:rgba(0, 0, 128, 0.25);
    --c-olv-25:rgba(128, 128, 0, 0.25);
    --c-org-25:rgba(255, 165, 0, 0.25);
    --c-orn-25:rgba(255, 69, 0, 0.25);
    --c-plm-25:rgba(218, 112, 214, 0.25);
    --c-pdm-25:rgba(147, 112, 219, 0.25);
    --c-pkn-25:rgba(255, 192, 203, 0.25);
    --c-pnk-25:rgba(255, 105, 180, 0.25);
    --c-plp-25:rgba(221, 160, 221, 0.25);
    --c-ros-25:rgba(188, 143, 143, 0.25);
    --c-rpl-25:rgba(128, 0, 128, 0.25);
    --c-red-25:rgba(255, 0, 0, 0.25);
    --c-rbr-25:rgba(139, 0, 0, 0.25);
    --c-slm-25:rgba(32, 178, 170, 0.25);
    --c-sil-25:rgba(192, 192, 192, 0.25);
    --c-sky-25:rgba(135, 206, 235, 0.25);
    --c-sno-25:rgba(255, 250, 250, 0.25);
    --c-spr-25:rgba(0, 255, 127, 0.25);
    --c-tan-25:rgba(210, 180, 140, 0.25);
    --c-teal-25:rgba(0, 128, 128, 0.25);
    --c-tom-25:rgba(255, 99, 71, 0.25);
    --c-tur-25:rgba(64, 224, 208, 0.25);
    --c-vlt-25:rgba(238, 130, 238, 0.25);
    --c-wht-25:rgba(255, 255, 255, 0.25);
    --c-ylw-25:rgba(255, 255, 0, 0.25);
}